# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\РМП\3 на выбор\Wiki\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
